ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 15%;
  float: left;
  display: inline;
  
  background: #0d1642;
}
ul li {
    position: relative;
}
h2{
  color:#FFF;
}
.dl_sub_dd2{
  display: none;
  background: #293262;
}
.dl_sub_dd{
  display: none;
  background: #1b2452;
}
li ul {
  position: absolute;
  left: 149px;
  top: 0;
  display: none;
}
ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  padding: 5px;
  border: 1px solid #ccc;
}
ul li button{
  display: block;
  text-decoration: none;
  color: #FFF;
  background: #5c5758;
  padding: 5px;
  border: 1px solid #ccc;
}
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */


